@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Courier Prime, sans-serif;
	margin: 20px;
}

.container {
	display: flex;
	gap: 5px;
	margin: 20px;
	font-family: Lato, sans-serif;
}

.tableContent, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	width: 700px;
	text-align: center;
}