* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
}

aside {
	width: 30%;
	background: #FF0080;
	border-right: 3px solid black;
	float: left;
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
	align-items: center;

	gap: 25px;
	font-weight: 600;
}

aside div:first-child {
	padding-top: 50px;
}

aside div {
	border-bottom: 1px solid white;
}

aside a {
	text-decoration: none;
	color: #FFFFFF;
}

iframe {
	border: none;
	width: 70%;
	height: 500px;
}